body {
    font-family: 'Arial'; /* Fun font style */
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #ffffff, #ffffff); /* Gradient background */
    color: #111111;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: linear-gradient(90deg, #ff5000, #ff5100); /* Vibrant gradient */
    color: rgb(0, 0, 0);
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main {
    height: 100vh;
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer {
    background: linear-gradient(90deg, #cb5511, #fc7425); /* Gradient footer */
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 0.5rem 0;
}

a {
    color: #ff6a00;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #000000;
}

select {
    margin: 1rem 0;
    padding: 0.5rem;
    border: 2px solid #ff6a00;
    border-radius: 5px;
    background: #fff;
    color: #333;
    font-size: 1rem;
}

.myStory {
    margin: 0;
    text-align: left;
    background-image: linear-gradient(180deg, #ffffff, #e6e6e6);
}

.myStory p{
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-left: 3.5em;
    margin-right: 3.5em;
}

.myStory h1 {
    color: black;
    background-color: #ff6a00;
    width: 100%;
    font-size: 3em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textOne{
    font-size: 2em;
    margin-left: 3.5em;
    margin-right: 3.5em;
}

.overall{
    display: flex;
    flex-direction: row;
}

.halfOne, .halfTwo{
    display: flex;
    flex-direction: column;
}

.halfOne{
    margin-right: 1.5em;
    font-size: 1.5em;
    width: 45%;
}

.halfTwo{
    margin-left: 1.5em;
}

@media (max-width: 768px) {
    header, footer {
        text-align: center;
    }

    .myStory {
        margin: 1rem;
        padding: 1rem;
    }
}